@import '../helpers/variables'

#header
	min-height:         200px
	border-width:       0 0 5px 0
	border-style:       solid
	border-color:       #164b65
	background:         transparent url( '#{$IMAGES}/layout/header-workboard-pattern.png' )
	background-size:    47px