//	1. CONSTANTS
//-------------------------------------------------------------------------------------------------------------|

	$BLACK:		rgb(0, 0, 0);
	$WHITE:		rgb(255, 255, 255);
	$GREY:		rgb(128, 128, 128);
	$RED:		rgb(128, 0, 0);
	$ORANGE:	rgb(200, 64, 0);
	$YELLOW:	rgb(200, 200, 0);
	$GREEN:		rgb(0, 128, 0);
	$BLUE:		rgb(0, 0, 128);
	$PURPLE:	rgb(128, 0, 128);
	$BROWN:		rgb(83, 39, 2);


//- END CONSTANTS ---------------------------------------------------------------------------------------------|


//	2. PATHS
//-------------------------------------------------------------------------------------------------------------|

	$ROOT:				"../../";
	$IMAGES:			"../../images";
	$LAYOUT-IMG:		"../../images/layout";
	$GRAPHICS-IMG:		"../../images/graphics";
	$CHAR-IMG:			"../../images/characters";

//- END COLORS ------------------------------------------------------------------------------------------------|


//	3. COLORS
//-------------------------------------------------------------------------------------------------------------|

	$body_background:		rgb(230, 230, 230);
	$another_color:			lighten($BLACK, 10%);

//- END COLORS ------------------------------------------------------------------------------------------------|


//	4. FONTS
//-------------------------------------------------------------------------------------------------------------|

	$base-font-size:		16px;

//- END FONTS -------------------------------------------------------------------------------------------------|


//	5. ELEMENTS
//-------------------------------------------------------------------------------------------------------------|

	$page-width:		80em;		// 1280px
	$header-height:		70px;
	$footer-height:		20px;

//- END COLORS ------------------------------------------------------------------------------------------------|

//	6. INPUT RANGE
//-------------------------------------------------------------------------------------------------------------|

	$range-track-background:	rgb(154, 154, 154);
	$range-thumb-background:	rgb(42, 46, 49);

//- END COLORS ------------------------------------------------------------------------------------------------|